<h1>Sample App</h1>
    </body>
        <p>
          <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
          is a sample application simulating a twitter like website.
        </p>
    </body>
